nav button {
  padding: 10px;
}
.card {
  margin: 7px;
}
footer {
  color: white;
}
footer a {
  text-decoration: none;
}
.marginbottom {
  margin-bottom: 90px; /*so that the footer doesn't overlap the content */
}
#newproj {
  margin: 7px;
}
.white {
  color: white;
}